.basic-card {
  margin-top: 200px;
  margin-left: 200px;
  width: 300px;
  height: 400px;
  padding: 16px 6px;
  background: transparent;
  transition: all .5s ease;
  color: @text-color;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
  border: solid @text-color;
  border-width: 1px 2px 3px 3px;
  transform: rotate(-2deg);
  border-top-left-radius: 4% 95%;
  border-top-right-radius: 95% 4%;
  border-bottom-right-radius: 6% 92%;
  border-bottom-left-radius: 95% 5%;


  &:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
  }
}

.top-bar {
  display: flex;
  flex-direction: row-reverse;
}

.delete-icon {
  cursor: pointer;
}