.icon {
  width: 18px;
  height: 18px;
  color: @text-color;
  fill: currentColor;
  overflow: hidden;

  &.small {
    width: 16px;
    height: 16px;
  }

  &.big {
    width: 20px;
    height: 29px;
  }
}